* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  display: flex;
  justify-content: center;
}

.btn {
  width: 100px;
  height: 50px;
  border: transparent;
  background-color: #fff;
  text-transform: uppercase;
}

.disabled {
  background-color: rgba(255, 255, 255, .4);
  color: rgba(0, 0, 0, .4);
  border-color: rgba(0, 0, 0, .1);
}

.btn:first-child {
margin-right: 10px;
}

.timer {
  display: flex;
  justify-content: flex-start;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

span.label {
 text-transform: uppercase;
 font-size: 12px;
}

span.value {
  font-size: 20px;
  text-transform: uppercase;
}

